<footer class="text-center text-white" style="background-color: #000000;">
    <div class="container p-4">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div>
              <img src="/assets/images/map.png" alt="City Map" class="w-100"/>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div>
              <img src="/assets/images/bangers.jpeg"class="w-100"/>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div>
              <img src="/assets/images/kss.jpeg"class="w-100"/>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div>
              <img src="/assets/images/metalcty.jpeg"class="w-100"/>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div>
              <img src="/assets/images/strip.jpeg"class="w-100"/>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div>
              <img src="/assets/images/more.jpeg"class="w-100"/>
            </div>
          </div>
        </div>
    </div>
    <div class="p-3" style="background-color: #000000;">© 2000 Copyright:<a > www.Metalcity.com</a>
    </div>
  </footer>