<nav class="navbar navbar-expand-lg  navbar-scroll shadow-0" style="background-color: #050100;">
    <div class="container">
        <a class="navbar-brand"><img src="/assets/images/dio.jpeg" width="40px" alt="">THE METAL CITY</a>
        <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target=""
        aria-controls="" aria-expanded="true" aria-label="Toggle navigation">
        <span class="d-flex justify-content-start align-items-center">
            </span>
        </button>
    <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item active">
            <a class="nav-link px-3"> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-3"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link px-3"></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link px-3"></a>
        </li>
        <li class="nav-item" *ngFor="let item of items">
            <a href="" class="nav-link px-3">{{item}}</a>
        </li>
    </ul>
</div>
</div>
</nav>